
@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}







<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                   

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="alert alert-success">Bağlantının Durumu:<strong id="connstatus"></strong></div>
        <div class="alert alert-info">Kategori Sayısı:<strong id="categorycount"></strong></div>
    </div>
</div>



